<div class="container">
    <h4>My Experience</h4>
    <div class="row">
        <div class="col-md-12">
            <div class="main-experience">
                <div class="timeline animated slideInUp" *ngFor="let exp of Experiences">
                    <div class="timeline-icon"><i class="fa {{exp.icon}}"></i></div>
                    <span class="year">{{exp.year}}</span>
                    <div class="timeline-content">
                        <h4 class="title">{{exp.jobTitle}} - <a href="{{exp.companyAddress}}" target="_Blank" class="text-warning">{{exp.companyTitle}}</a></h4>
                        <p class="description">
                            {{exp.description}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
