<div class="container">
    <h1>
        {{PortfolioTitle}}
    </h1>
    <h4><small>{{PortfolioDesc}}</small></h4>
</div>
<div class="row m-5">
    <div class="col PortfolioCard" *ngFor="let item of Portfolios">
        <div class="card-container">
            <div class="card">
                <div class="front">
                    <div class="cover">
                        <img src="{{item.pictureSrc}}"/>
                    </div>
                    <div class="user">
                        <img class="img-circle" src="{{item.circlePictureSrc}}"/>
                    </div>
                    <div class="content">
                        <div class="main">
                            <h3 class="name">{{item.title}}</h3>
                            <p class="profession">{{item.subTitle}}</p>

                            <p class="text-center text-justify">{{item.body}}</p>
                        </div>
                        <div class="footer">
                            <div class="rating">
                                <i class="fa fa-mail-forward"></i> Hover For More Details
                            </div>
                        </div>
                    </div>
                </div> <!-- end front panel -->
                <div class="back">
                    <div class="header">
                        <h5 class="motto">{{item.backTitle}}</h5>
                    </div>
                    <div class="content">
                        <div class="main">
                            <h4 class="text-center">Technologies :</h4>
                            <p class="text-center">{{item.technologies}}</p>

                            <div class="stats-container" [innerHTML]="item.backBody">
                            </div> 

                        </div>
                    </div>
                    <div class="footer">
                        <div class="social-links text-center">
                            <a href="{{item.projectLink}}" class="btn btn-success w-75" target="_blank"><i class="fa fa-product-hunt fa-fw"></i> Link to the Website</a>
                        </div>
                     </div>
                </div> <!-- end back panel -->
            </div> <!-- end card -->
        </div> <!-- end card-container -->
    </div>
</div>