<div class="row skills">
    <div class="col col-6">
        <ul class="list-group" >
            <li class="list-group-item" *ngFor="let item of GroupSkills(1)">
                {{item.name}} <div class="progress">
                    <div class="progress-bar progress-bar-striped {{item.cssClass}} progress-bar-animated" role="progressbar" [style.width.%]="item.level" attr.aria-valuenow="{{item.level}}" aria-valuemin="0" aria-valuemax="100">
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col col-6">
        <ul class="list-group" >
            <li class="list-group-item" *ngFor="let item of GroupSkills(2)">
                {{item.name}} <div class="progress">
                    <div class="progress-bar progress-bar-striped {{item.cssClass}} progress-bar-animated" role="progressbar" [style.width.%]="item.level" attr.aria-valuenow="{{item.level}}" aria-valuemin="0" aria-valuemax="100">
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>