<div class="container h-100">
    <div class="card ContactPanel">
      <div class="card-body ContactBody">
        <h5 class="card-title">Contact Form</h5>
        <div class="card-text">
            <form [formGroup]="formModel" autocomplete="off" (submit)="onSubmit()">
                <div class="form-inline">
                    <div class="form-group form-group-inline required">
                        <label>Name</label>
                        <input class="form-control" formControlName="Name">
                        <label class="text-danger" *ngIf="formModel.get('Name').touched && formModel.get('Name').errors?.required">Username is required!</label>
                    </div>
                    <div class="form-group form-group-inline">
                        <label>Email</label>
                        <input class="form-control" formControlName="Email">
                        <label class="text-danger" *ngIf="formModel.get('Email').touched && formModel.get('Email').errors?.email">Please enter a valid email address!</label>
                    </div>
                </div>
                <div class="form-group">
                    <label>Subject</label>
                    <input class="form-control" formControlName="Subject">
                    <label class="text-danger" *ngIf="formModel.get('Email').touched && formModel.get('Email').errors?.required">Subject is required!</label>
                </div>
                <div class="form-group">
                    <label>Message</label>
                    <textarea class="form-control" formControlName="Message"></textarea>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-block" [disabled]="!formModel.valid">Send Message</button>
                </div>
            </form>
        </div>
        <div class="card-text">
            <div class="row">
                <a [routerLink]="['/Home']" class="text-warning">Return to Home Page</a>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="hover"><span>Social Media</span>
            <a class="social-link" href="https://twitter.com/twitter" target="_blank"><i class="fa fa-twitter"></i></a>
            <a class="social-link" href="https://codepen.io/joshuaward/" target="_blank"><i class="fa fa-codepen"></i></a>
            <a class="social-link" href="https://www.instagram.com/joshuaward/" target="_blank"><i class="fa fa-instagram"></i></a>
            <a class="social-link" href="https://github.com/joshuaward" target="_blank"><i class="fa fa-github"></i></a>
        </div>
    </div>
    </div>
  </div>