<!-- HTML Login Component -->
<div class="container" style="display: flex;justify-content: center;align-items: center;text-align:right; height: 100vh;">
    <div class="card" style="width: 50%;">
      <div class="card-body">
        <h5 class="card-title">Register Form</h5>
        <div class="card-text">
            <form [formGroup]="service.formModel" autocomplete="off" (submit)="onSubmit()">
                <div class="form-group required">
                    <label>Username</label>
                    <input class="form-control" formControlName="UserName">
                    <label class="text-danger" *ngIf="service.formModel.get('UserName').touched && service.formModel.get('UserName').errors?.required">Username is required!</label>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input class="form-control" formControlName="Email">
                    <label class="text-danger" *ngIf="service.formModel.get('Email').touched && service.formModel.get('Email').errors?.email">It is not a valid Email Address!</label>
                </div>
                <div class="form-group">
                    <label>Full Name</label>
                    <input class="form-control" formControlName="FullName">
                </div>
                <div formGroupName="Passwords">
                    <div class="form-group required">
                    <label>Password</label>
                    <input type="password" class="form-control" formControlName="Password">
                    <label class="text-danger" *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.required">Password is required!</label>
                    <label class="text-danger" *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.minlength">Minimum lenght is 4 character.</label>
                    </div>
                    <div class="form-group required">
                    <label>Confirm Password</label>
                    <input type="password" class="form-control" formControlName="ConfirmPassword">
                    <label class="text-danger" *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.required">Confirm Password is required!</label>
                    <label class="text-danger" *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.passwordMismatch">Please enter the same Password as above!</label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block" [disabled]="!service.formModel.valid">Register</button>
                </div>
            </form>
        </div>
        <div class="card-text">
          <a [routerLink]="['/Login']" routerLinkActive="router-link-active">بازگشت به صفحه ورود</a>
        </div>
      </div>
    </div>
  </div>