<nav class="navbar navbar-expand-lg navbar-dark bg-transparent animated bounce delay-2s">
    <a class="navbar-brand" href="#">
        <img src="" width="30" height="30" class="d-inline-block align-top" alt="">
        Ali Kianoor
    </a>
    <span class="navbar-text">
        Personal Website
    </span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" *ngFor="let item of menu">
          <a class="nav-link" [routerLink]="item.menuPath" routerLinkActive="router-link-active">{{item.menuName}}</a>
        </li>

      </ul>
      <form class="form-inline my-2 my-lg-0">

        <a class="btn btn-outline-success my-2 my-sm-0" *ngIf="!isLoggedIn" [routerLink]="['/Login']">Login</a>
        <a class="btn btn-outline-danger my-2 my-sm-0" *ngIf="isLoggedIn" (click)="Logout()" [routerLink]="['/Login']">LogOut</a>
        <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button> -->
      </form>
    </div>
  </nav>