/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
} 

body{
  background-image: url('src/assets/Images/BackLogin.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

.binaryBackground {
    background-image: url("src/assets/Images/binaryPatt.jpg");
}
 
#particles-js {
  width: 100%;
  height: 100%;
}

/* #particles-js{
    background-image: url('src/assets/Images/binaryPatt.jpg');
} */
