.AboutMePanel{
    margin-top: 50px;
    background-color: rgba(0,0,0,0) !important;
    }

.AboutMeBody{
    background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span a{
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
    }
    
    .social_icon span a:hover{
    color: white;
    cursor: pointer;
    }
    
    .card-header h3{
    color: white;
    }
    
    .social_icon{
    position: absolute;
    right: 20px;
    top: -45px;
    }
    