<div class="container h-100">
    <div class="card AboutMePanel">
      <div class="card-body AboutMeBody">
        <h5 class="card-title">About Me</h5>
        <div class="card-header">
            <div class="justify-content-end social_icon d-none d-md-flex">
              <span *ngFor="let item of SocialNetworks">
                <a href="{{item.link}}"><i class="fa {{item.icon}}"></i></a>
              </span>
            </div>
        </div>
        <div class="card-text">
            <div class="row">
                <div class="col e2e-inner-html-bound" [innerHTML]="AboutMe.Description">
                </div>
                <div class="col d-none d-md-block" >
                    <img class="AboutMeImage" src="{{AboutMe.Image}}">
                </div>
            </div>
        </div>
        <div class="card-text">
          <a [routerLink]="['/Home']" class="text-warning">Return to Home Page</a>
        </div>
      </div>
    </div>
  </div>