<div id="Slideshow" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#Slideshow" data-slide-to="0" class="active"></li>
      <li data-target="#Slideshow" data-slide-to="1"></li>
    <!--<li data-target="#demo" data-slide-to="2"></li> -->
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/assets/Images/Slideshow/Me.jpg" alt="Ali Kianoor" >
      <img src="/assets/Images/Slideshow/Me.jpg" alt="Ali Kianoor" >
    </div>
      <div class="carousel-item">
      <img src="/assets/Images/Slideshow/Me.jpg" alt="Ali Kianoor" >
      <img src="/assets/Images/Slideshow/Me.jpg" alt="Ali Kianoor" >
    </div>
    <!--<div class="carousel-item">
      <img src="ny.jpg" alt="New York">
    </div> -->
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#Slideshow" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#Slideshow" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>