<div class="container text-center" >

        <!-- <app-glitch></app-glitch>
        <app-slideshow></app-slideshow> -->
        <!-- <div class="row">
            <div class="col">
                <app-skills></app-skills>
            </div>
            <div class="col">
                <app-portfolio></app-portfolio>
            </div>
        </div> -->

        <!-- <div class="row">
            <app-experience></app-experience>
        </div>      -->
        <!-- <div class="row">
            <app-education></app-education>
        </div> -->
        <div class="row">
            <div class="col">

                <!-- <div class="row">
                    <div class="col"><a href="#" class="action-button shadow animate green animated zoomInRight slower">Hire Me!</a></div>
                    <div class="col"><a href="#" class="action-button shadow animate red animated zoomInLeft slower">Portfolio</a></div>
                </div>
                <div class="row">
                    <div class="col"><a href="#" class="action-button shadow animate yellow animated zoomInDown slower">Experience</a></div>
                    <div class="col"><a href="#" class="action-button shadow animate blue animated zoomInUp slower">Skills</a></div>
                </div> -->
                
                <h1 id="tw">                   
                    <!-- <a href="" class="typeWritting typewrite" data-period="2000" data-type='[ "Hi, I am Ali kianoor.", "I Love to Design Cool Applications.", "I am Creative.", "I Love Developing."]'>
                      <span class="wrap"></span>
                    </a> -->
                </h1>
                <!-- <h1 id=tw2></h1> -->
            </div>
                
            <div class="col">
                <div aTilt [tiltSettings]="tiltSettings">
                    <img src="/assets/Images/Me.png">
				</div>
            </div>
        </div>
</div>