<div class="container-fluid">
    <div class="h-100 w-100">
        <!-- <app-glitch></app-glitch>
        <app-slideshow></app-slideshow> -->
        <!-- <div class="row">
            <div class="col">
                <app-skills></app-skills>
            </div>
            <div class="col">
                <app-portfolio></app-portfolio>
            </div>
        </div> -->

        <!-- <div class="row">
            <app-experience></app-experience>
        </div>      -->
        <div class="row">
            <app-education></app-education>
        </div>
    </div> 
</div>